<%- include('partials/header') -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <input type="text" name="blogpost" autocomplete="off">
    <input type="submit" value="Submit">
</form>

<%- include('partials/footer') -%>